.flashlight-switch-input {
  position: relative;
}

.flashlight-switch-input__input {
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    width: 100%;
    background: #131212;
}

.flashlight-switch-input__icon {
  transform: rotate(180deg);
/* } */
