.flashlight-switch-input {
}

.flashlight-switch-input__input {
  border: 1px solid #ddd !important;
}

.flashlight-switch-input__button {
  border-left: none;
  border: 1px solid #ddd !important;
}

.flashlight-switch-input__button .icon {
  transform: rotate(180deg);
}
