.flashlight-switch-input {
  width: 15rem;
  position: relative;
}

.flashlight-switch-input__icon {
  position: absolute;
  height: 100%;
  left: 0;
  padding: 0;
  width: 2rem;
}

.flashlight-switch-input__icon > * {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #b3b3b3;
  font-size: 0.75rem;
}

.flashlight-switch-input__input {
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  width: 100%;
  background: #131212;
  color: #ddd;
  padding-left: 2rem;
  padding-right: 2rem;
}

.flashlight-switch-input__button {
  cursor: pointer;
  transform: rotate(180deg);
  position: absolute;
  right: 0;
  padding: 0;
  color: #b3b3b3;
  background: transparent;
  border: none;
  height: 100%;
  width: 2rem;
}
.rotate-180-deg {
  transform: rotate(180deg);
}
