.flashlight-switch-input {
    position: relative;
}

.flashlight-switch-input__input {
    border: 1px solid #ddd;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
}

.flashlight-switch-input__button {
  border-left: none;
}

.flashlight-switch-input__button .icon {
  transform: rotate(180deg);
}
